[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/weichen0306
[access "refs/for/refs/*"]
	read = group user/weichen0306
	push = group user/weichen0306
	label-Code-Review = -2..+2 group user/weichen0306
	label-Verified = -1..+1 group user/weichen0306
	rebase = group user/weichen0306
	removeReviewer = group user/weichen0306
	submit = group user/weichen0306
[access "refs/heads/*"]
	read = group user/weichen0306
	create = group user/weichen0306
	push = +force group user/weichen0306
	pushMerge = group user/weichen0306
[access "refs/tags/*"]
	push = group user/weichen0306
	push = +force group user/weichen0306
